@using ArysolDeportes_SantiagoFritz.Models;
@model IndexViewModel

<div class="container-fluid">
    <h1>Productos Eliminados</h1>
    <div class="row justify-content-around align-items-center mb-5">
        <div class="col-md-12 col-lg-4">
            @await Html.PartialAsync("_OrderProduct")
        </div>
        <div class="col-md-12 col-lg-4">
            @await Html.PartialAsync("_SearchProduct")
        </div>
        <div class="col-md-12 col-lg-4">
        </div>
    </div>
</div>

<section class="cardsContainer">
    @foreach (var producto in Model.Productos)
    {
        <div class="card">
            @await Html.PartialAsync("_Carousel", producto)
            @await Html.PartialAsync("_CardBody", producto)
        </div>
        
    }
</section>

<div class="container-fluid">
    @await Html.PartialAsync("_Paginador", Model)
</div>

<button type="button" class="btn btn-light">@Html.ActionLink("Volver","Crear")</button>