
<div class="text-center">
    <h1>Bienvenidos a</h1>
    <img src='@Url.Content("~/imagenes/logo.png")' class="logoHome" alt="">
</div>
<div class="text-center">
    <h1>¡Nos especializamos en conjuntos!</h1>
    <h2>¿Que esperas para pedir el tuyo?</h2>
    <img src='@Url.Content("~/imagenes/conjuntoPromo.png")' alt="">
</div>